@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,600);

$mainFont : 'Open Sans', sans-serif;

$backgroundBlue : #1c3049;
$buttonLila : #1c8245;
$white : #fff;
$black : #000;
$partypink : #885add;
